@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Cheese <a class="nav-link text-dark" id="login" href="/Identity/Account/Login">Login</a>.</p>
</div>
